---
import '../styles/global.css'; 

interface Props {
	title: string;
	description?: string; // The '?' makes it optional
}

const { 
  title, 
  description = "Full Stack Web Development, Data Analysis, and Digital Marketing portfolio of Alberry Jed Rivera. Specializing in high-intent lead generation and Google Ads optimization." 
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		
		<title>{title}</title>
		<meta name="title" content={title} />
		<meta name="description" content={description} />

		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content="/og-image.png" />

		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content="/og-image.png" />
	</head>
	<body class="bg-[#0a0a0a] text-white font-sans antialiased selection:bg-[#ff4d4d] selection:text-white">
		<slot />
	</body>
</html>